<!DOCTYPE html>
   
<html lang="en" >
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <meta charset="utf-8">
    <title>Learning Sample AngularJS</title>

<link type="text/css" href="default.css" rel="stylesheet">

</head>
<body ng-app="sampleApp" ng-controller="MainController">

<div id="mainwrap">
    <h1>The AngularJS Sample App For Beginners</h1>

 <div class="block">  



<b>AngularJS </b>is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript on the client side. Its goal is to augment web applications with model view controller (MVC) capability  on the SPA (Single Page Application), in an effort to make both development and testing easier.
A  Single Page Application is one in which we have a shell page and we can load multiple 
views into that.So a traditional app, as you know you typically blink and load everything again. It’s not very efficient 
on the bandwidth, especially in the mobile world.
So a traditional app, as you know you typically blink and load everything again. It’s not very efficient 
on the bandwidth, especially in the mobile world.


The library reads in HTML that contains additional custom tag attributes; it then obeys the directives in those custom attributes, and binds input or output parts of the page to a model represented by standard JavaScript variables. The values of those JavaScript variables can be manually set, or retrieved from static or dynamic JSON resources.<br>
AngularJS' two-way data binding is its most notable feature and reduces the amount of code written by relieving the server backend from templating responsibilities. Instead, templates are rendered in plain HTML according to data contained in a scope defined in the model.

 <ul>
        <li > AngularJS Introduction</li>
        <li > AngularJS Expressions</li>
        <li > AngularJS Directives</li>
        <li > AngularJS Modules</li>
        <li > AngularJS Controllers</li>
        <li > AngularJS Filters</li>
        <li > AngularJS HttpRequest</li>
        <li > AngularJS Forms/Models</li>
        <li > AngularJS loops, show, hide, clicks, data binding, custyomised filter</li>
        <li > AngularJS Sample Application </li>
		<li > Dependency Injection</li>
		<li>Creating Dynamic Models in AngularJS</li>
 </ul>


what is a directive? 
A directive is really a way to teach HTML new tricks.
The web when it first came out was really just designed to display static pages. As we all know it’s 
become very dynamic and we’ve dealt with that pretty well. jQuery came out many years ago and it 
provided a way to do it. Even before then we could use  JavaScript.
Angular takes it up a whole notch and allows us to extend HTML very easily by simply adding 
attributes, elements or comments. 

<B>Directives </B>
<pre>  ng-app="sampleApp"   ng-controller="MainController" </pre>

Here  we have ng-app and ng-controller. Any time you see ng- that is an Angular directive. It’s a built-on 
directive. 










</div>
    <div class="block">
    	<h4>View People</h4>
		Filtering of the JSON data in the COntroller.
     <div class="search-box">Search! <input type="text" ng-model="search" /></div>


	<div class="content-description"> Listing of data provided in the JSON of the Controller. Controller loads it on page load.</div><br>
    <ul>
        <li ng-repeat="person in people | filter:search">
            {{ person.name | uppercase}} from {{ person.city | lowercase}}, {{ person.state | lowercase}}
        </li>
    </ul>
</div>
<div class="block addpeople">
<h4>Add People</h4>
<div class="row"><label>Enter the person's name:</label> <input type="text" ng-model="person_name" /></div>
<div class="row"><label>Enter the person's city:</label> <input type="text" ng-model="person_city" /></div>
<div class="row"><label>Enter the person's state:</label> <input type="text" ng-model="person_state" /></div>
<button ng-click="addPerson()">Add the Person!</button>
</div>
    
  <div class="block">  

Angular JS Filter .<BR>
Customised Filter .

<h4>Filters</h4>

	<div class="content-description">Angular JS Filter and Customised Filters.</div><br>
      <pane title="Localization">
     Angular JS Filter -  Date: {{ '2014-08-01' | date:'fullDate' }} <br>
	Angular JS Filter - Date: {{ 946757880 | date }}<br>
    Angular JS Filter  -   Currency: {{ 123456 | currency }} <br>
    Angular JS Filter -     Number: {{ 98765.4321 | number }} <br>
	Customised Filter - {{ 'Ajay' | greet }} <br>
      </pane>
</div>


  <div class="block addpeople">  
<h4>Data Binding</h4>
	Data binding using ng-bind 
 	<div class="row"><label>Enter text in textbox:</label> <input type="text" ng-model="name">
    <p ng-bind="name" class="bind-data"></p></div>
 	

<div class="row">See the difference in HTML.</div>
		Data binding using double braces 

	<div class="row"><label>Enter text in textbox:</label>    <input type="text" ng-model="sometext" /></div>
     <h1 class="bind-data"> {{ sometext }}</h1>
</div>

 <div class="block">  
<h4>Angular Tabs</h4>

<div  class="tabs">

    <div class="cb" ng-click="tab = 1">tab 1</div>
        <div class="cb" ng-click="tab = 2">tab 2</div>

    <div ng-show="tab == 1" class="content">
        <p><h1>Tab 1 Content</h1></p>
     </div>

    <div ng-show="tab == 2" class="content">
        <p><h1>Tab 2 Content</h1></p>
    </div>
</div>
</div>



 <div class="block">  
	<h4>Angular Ajax Service</h4>
	
	<div  class="tabs">
		<button ng-click="ajaxCall()" value="">Click for Ajax Request</button>
		<div class="row">
			{{ajaxData}}
		</div>
	</div>
</div>





 <div class="block" >  
	<h4>Angular Routing</h4>
	<div  class="tabs">

		<div class="row">
			<ul class="nav">
                <li><a href="#Routing1" > Routing URL1 </a>  </li>
                <li><a href="#Routing2"> Routing URL2 </a> </li>
            </ul>

		</div>

		<div class="row">
			<div ng-view></div>
		</div>
		
	</div>
</div>


 <div class="block" >  
	<h4>Dependency Injection</h4>
	<div  class="tabs">

		<div class="row">


		</div>

		<div class="row">
			Dependency injection in AngularJS is responsible for creating components, dealing with how they get hold of their dependencies, 
			and making them available to other components when requested.
		</br>
			If you want to gain access to core AngularJS services, then you require adding a particular service as a parameter. 
			AngularJS will automatically notice that you want to use that service, and will make an instance available for you.
			</br>
			
			{{di}}
		</div>
		
	</div>
</div>

 
 <div class="block" >  
	<h4>Creating Dynamic Models in AngularJS</h4>
	<div  class="tabs">

		<div class="row">


		</div>

		<div class="row">
				<ul ng-repeat="question in Questions">
						<li>
							<div>{{question.Text}}</div>
							<select ng-model="Answers['{{question.Name}}']" ng-options="option for option in question.Options">
							</select>
						</li>
				</ul>
				<button ng-click="ShowAnswers()">Submit</button>
		</div>
		<br>
			<div class="row">
				<div class="form-group" data-ng-repeat="textbox in textboxes">
						
					<input type="text" ng-model="textbox.name" name="" placeholder="Enter Your Value Here">
					<button ng-show="showAddTextBox(textbox)" ng-click="addNewTextBox()">Add Another extBox</button>
				</div>
				
		</div>
		
	</div>
</div>




  <script src="controller.js"></script>
    
</body>
</html>


